form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width_30rem);
  color: var(--white1);
  margin-bottom: var(--margin_5rem);
  padding: var(--padding_24);
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap_16);
  background-color: var(--black3);
  border-radius: 12px;
}

.form-group {
  justify-content: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: var(--fullWidth);
  gap: var(--gap_8);
}

.fullWidth {
  width: var(--fullWidth);
}

.bottomText {
  align-self: flex-start;
  opacity: 0.6;
}

.textArea {
  width: var(--fullWidth);
  padding: var(--padding_8);
}
