.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap_16);
  background-color: var(--black3);
  border-radius: 12px;
  color: var(--white1);
  padding: var(--padding_24);
}

.form-group {
  justify-content: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: var(--fullWidth);
  gap: var(--gap_8);
}

.fullWidth {
  width: var(--fullWidth);
}

.bottomText {
  align-self: flex-start;
  opacity: 0.6;
}

.textArea {
  width: var(--fullWidth);
  padding: var(--padding_8);
}

.inputFieldSContainer {
  display: flex;
  gap: 32px;
}

.nameAndEmailContainer{
  width: 50%;
}

.btn{
  width: 20%;
}

@media (max-width: 768px) {
  .inputFieldSContainer{
    flex-direction: column;
  }
  .nameAndEmailContainer{
    width: 100%;
  }
  .formContainer{
    padding: 8px;
  }
  .btn{
    width: fit-content;
  }
}