@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap");

#title {
  font-weight: bold;
  color: rgb(103, 255, 103);
}

h1 {
  font-weight: bold;
  word-spacing: 4px;
}

.blogs-container {
  display: flex;
  justify-content: space-between;
  /*align-items: center; */ /* To make all the divs take equal height irrespective of content they have*/
  gap: 32px;
  flex-wrap: wrap;
  padding: 24px;
}

.heading {
  color: "greenyellow";
  margin: 24px 0px;
}


