@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap");

#title {
  font-weight: bold;
  color: rgb(103, 255, 103);
}

h1 {
  font-weight: bold;
  word-spacing: 4px;
}

.blogs-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.heading {
  color: "greenyellow";
}

@media (max-width: 768px) {
  .cardSize {
    width: 18rem;
    height: 364px;
    margin-top: 20px;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
  }
  .card-text {
    font-weight: bold;
    font-size: 15px;
  }
  .heading {
    margin-top: 70px;
  }
  .blogsDialog {
    height: 100rem;
  }
}
