.container {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.resumeImgContainer {
  background: #8360c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2ebf91,
    #8360c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2ebf91,
    #8360c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 12px;
  width: 50%;
  min-width: fit-content;
  padding: 24px;
  margin: auto;
}

.resumeImage {
  width: 100%;
  max-height: 80vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -2px -1px 21px 2px dimgrey;
}

.downloadButton {
  text-align: center;
  background-color: rgb(53, 49, 50);
  width: 161px;
  margin: 0px auto;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px greenyellow;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: auto;
  padding: 8px;
}

/* Animation property */
.downloadButton {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
    color: rgb(169, 251, 193);
  }
  15% {
    transform: rotateZ(-15deg);
    color: rgb(147, 240, 104);
  }
  20% {
    transform: rotateZ(10deg);
    color: rgb(55, 230, 128);
  }
  25% {
    transform: rotateZ(-10deg);
    color: rgb(20, 220, 97);
  }
  30% {
    transform: rotateZ(6deg);
    color: rgb(36, 238, 103);
  }
  35% {
    transform: rotateZ(-4deg);
    color: rgb(97, 251, 200);
  }
  40%,
  100% {
    transform: rotateZ(0);
    color: rgb(73, 245, 145);
  }
}

@media (max-width: 768px) {
  .img_of_resume {
    max-width: 80%;
  }
}
