h2 {
  text-align: center;
  color: rgb(241, 38, 241);
  text-shadow: 2px 2px 21px rgb(255, 183, 255);
}

.projectCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}

@media (max-width: 768px) {
  .move-down-pro {
    margin-top: 60px;
  }

  .move-down-react {
    margin-top: 20px;
  }
}
