@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@200&family=Yeseva+One&display=swap");

.formContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap_16);
}

.profilePic {
  max-height: var(--height_250);
}

.ppContainer {
  background-color: var(--white1);
  margin-top: var(--margin_20);
  width: var(--width_240);
  height: var(--height_230);
  border-radius: var(--radisu_50Per);
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: hidden;
  /* styling for pp (Profile Picture)*/
  border: 1px solid var(--green4);
  filter: drop-shadow(0 0 4px var(--green2));
}

.description {
  color: var(--white1);
  text-align: center;
  max-width: var(--width_650);
  margin-top: var(--margin_40);
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: var(--padding_8) var(--padding_24);
}

.PS {
  margin-top: var(--margin_20);
  /* to show two lists side by side */
  display: inline-block;
  width: var(--width_320);
  vertical-align: top;
  color: var(--yellow1);
}

.heading {
  text-align: center;
  color: var(--green4);
  font-weight: bold;
}

.skills {
  text-align: center;
}

form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width_30rem);
  color: var(--white1);
  margin-bottom: var(--margin_5rem);
  padding: var(--padding_24);
}

#form-submit {
  margin-top: var(--margin_1rem);
  background-color: var(--green3);
  color: var(--black2);
}

.form-group {
  justify-content: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: var(--fullWidth);
  gap: var(--gap_8);
}

.fullWidth {
  width: var(--fullWidth);
}

.bottomText {
  align-self: flex-start;
  opacity: 0.6;
}

.textArea {
  width: var(--fullWidth);
  padding: var(--padding_8);
}

@media (max-width: 764px) {
  .PP {
    width: var(--width_200);
    height: var(--height_245);
  }

  .ppContainer {
    width: var(--width_210);
    height: var(--height_210);
    margin-top: var(--margin_3rem);
  }

  .PS {
    margin-top: var(--margin_03rem);
    width: var(--width_210);
  }
}
