@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@200&family=Yeseva+One&display=swap");
/* TODO: Refactor styles */

.formContainer{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profilePic {
  max-height: 250px;
}

.ppContainer {
  background-color: white;
  margin-top: 20px;
  width: 242px;
  height: 230px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: hidden;
  /* styling for pp */
  border: 1px solid #4df748;
  filter: drop-shadow(0 0 4px #3dfa76);
}

.description {
  color: white;
  text-align: center;
  width: 650px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: "Yeseva One", cursive;
  /* font-weight: bold; */
}

.PS {
  margin-top: 20px;
  /* to show two lists side by side */
  display: inline-block;
  width: 321px;
  vertical-align: top;
  color: yellow;
}

.heading {
  text-align: center;
  color: rgb(32, 255, 32);
  font-family: "Spectral", serif;
  font-weight: bold;
}

.skills {
  font-family: "Yeseva One", cursive;
  text-align: center;
}

form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  color: white;
  margin-bottom: 5rem;
}

#form-submit {
  margin-top: 1rem;
  background-color: greenyellow;
  color: black;
}

.form-group {
  justify-content: start;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 8px;
}

.fullWidth{
  width: 100%;
}

.bottomText{
  align-self: flex-start;
  opacity: 0.6;
}

@media (max-width: 764px) {
  .description {
    width: 17rem;
  }
  .PP {
    width: 200px;
    height: 245px;
  }
  .ppContainer {
    width: 210px;
    height: 205px;
    margin-top: 3rem;
  }
  .PS {
    margin-top: 0.3rem;
    width: 213px;
  }
  form {
    width: 19rem;
  }
  #w3review {
    width: 19rem;
  }
}
