@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@200&family=Yeseva+One&display=swap");

.parentContainer{
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 16px;
  font-weight: 500;
}

.profilePic {
  max-height: var(--height_250);
}

.ppContainer {
  background-color: var(--white1);
  margin-top: var(--margin_20);
  width: var(--width_240);
  height: var(--height_230);
  border-radius: var(--radisu_50Per);
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: hidden;
  border: 1px solid var(--green4);
  filter: drop-shadow(0 0 4px var(--green2));
}

.description {
  color: var(--white1);
  font-weight: 500;
  text-align: center;
  max-width: var(--width_650);
  margin-top: var(--margin_40);
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: var(--padding_8) var(--padding_24);
  background-color: var(--black3);
  border-radius: 12px;
}

.PS {
  margin-top: var(--margin_20);
  display: inline-block;
  width: var(--width_320);
  vertical-align: top;
  color: var(--yellow1);
  font-weight: 500;
}

.heading {
  text-align: center;
  color: var(--green4);
  font-weight: bold;
}

.skills {
  text-align: center;
}

.descriptionAndSkillContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-self: center;
  align-items: center;
}

@media (max-width: 764px) {
  .PP {
    width: var(--width_200);
    height: var(--height_245);
  }

  .ppContainer {
    width: var(--width_210);
    height: var(--height_210);
    margin-top: var(--margin_3rem);
  }

  .PS {
    margin-top: var(--margin_03rem);
    width: var(--width_210);
  }
}
