.container {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.introduction {
  text-transform: capitalize;
  font-size: var(--fontSize_heading);
}

@media only screen and (max-width: 768px) {
  .socials {
    padding-right: var(--padding_4);
  }

  .introduction {
    font-size: var(--fontSize_18);
  }
}
