.content {
  min-height: var(--height_50vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction {
  text-transform: uppercase;
  font-size: var(--fontSize_heading);
}

@media only screen and (max-width: 768px) {
  .socials {
    padding-right: var(--padding_4);
  }
 
  .introduction {
    font-size: var(--fontSize_normal);
  }
}
