@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:wght@300&family=Poppins:wght@500&family=Spectral:wght@200&display=swap");
.barsIcon {
  display: none;
}

.responsive-input {
  display: none;
}

.transition {
  transition: all 0.5s ease !important;
}

/* TODO: refactor styles (pass styles values via var method) */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: rgb(255 255 255 / 7%);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 2px 1px rgb(255 255 255 / 7%);
  padding: 5px 20px;
  transition: background-color ease-in-out 0.3s;
}

.on-navbar-sticking {
  background-color: #4ce93721;
}

.containerNav {
  transition: all ease-in-out 1s;
}

.stick-to-top {
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.navLinks {
  text-decoration: none;
  font-size: 18px;
  color: chartreuse;
  font-family: poppins;
  font-weight: 500;
}

.navLinks:hover {
  animation-name: color-change;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  text-decoration: underline;
  color: aliceblue;
  text-decoration-color: rgb(255, 255, 255);
}

.navLink-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
}

#logo {
  width: 120px;
  height: 50px;
  cursor: pointer;
}

.whiteColor {
  color: white;
}

/* NEW STYLES FOR RESPONSIVE NAVBAR */

@media (max-width: 767px) {
  .navLink-list {
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    padding-top: 24px;
  }

  .display-none {
    display: none;
  }

  .navbar {
    flex-direction: column;
    gap: 32px;
  }

  .barsIcon {
    display: block;
    color: white;
  }

  .jungle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .navLinks {
    font-size: 24px;
    font-weight: 500;
  }

  .navbar {
    padding: 8px 16px;
  }

  .fas {
    font-size: 20px;
  }

  .navbar-mobile {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(36, 34, 34, 0.74);
    backdrop-filter: blur(4px);
    text-align: center;
    left: 0%;
    /* top: 60px; */
    display: block;
    transition: all 0.3s ease;
    z-index: 20;
    padding: 8px 16px;
  }
}
