.parentContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.card {
  max-width: var(--width_20vw, 20vw);
  min-height: 30vh;
  max-height: 500px;
  height: 100%;
  /* flex: 1; */
  min-width: var(--width_300);
  border-radius: var(--radisu_16);
  padding: var(--padding_24);
  display: flex;
  flex-direction: column;
  gap: var(--gap_32);
  border: var(--radisu_2) solid var(--green1);
  background-color: var(--grey1);
  transition: 0.5s;
}

.headingContainer {
  background-color: rgb(90, 90, 90);
  border-radius: 12px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionContainer {
  background-color: var(--black3);
  padding: 16px;
  border-radius: 12px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: var(--gen_1) var(--gen_0) var(--blur_15) var(--green1);
  transform: scale(1.05);
}

.images {
  width: 100%;
  height: 200px;
  border-radius: 12px;
}

.card-body {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: var(--gap_24);
  flex: 1;
}

a {
  text-decoration: none;
}

.card-title {
  font-size: 22px;
  font-weight: 500;
}

@media (max-width: 1500px) {
  .card {
    gap: 16px;
  }

  .card-body {
    gap: 12px;
  }
}
