.btn {
  width: var(--fullWidth);
  padding: var(--padding_4) var(--padding_8);
  border: 0;
  border-radius: var(--radisu_8);
  background-color: var(--green3);
  color: var(--black2);
  font-weight: var(--fontWeightMedium);
}
